
<div class="admin-menu">
    <h2 class="admin-menu__title">Выберите действие</h2>
    <button routerLink="./createGroup" class="admin-menu__btn" mat-stroked-button color="primary">Добавить группу</button>
    <button routerLink="./createStudent" class="admin-menu__btn" mat-stroked-button color="primary">Добавить студента</button>
    <button routerLink="./createTeacher" class="admin-menu__btn" mat-stroked-button color="primary">Добавить преподавателя</button>
    <button routerLink="./createAdmin" class="admin-menu__btn" mat-stroked-button color="primary">Добавить администратора</button>
    <button class="admin-menu__btn" mat-stroked-button color="primary">Редактировать распиание</button>
</div>

<router-outlet></router-outlet>


